@import 'sass-bootstrap/lib/bootstrap';
@import '_jquery_ui';
@import 'jquery.timepicker.min';
@import 'kendo.common.min';
@import 'kendo.default.min';
@import 'kendo.rtl.min';
$header_bgcolor: #8DC640;
$header_gradient: #6e9c2f;
$header_font_color: #fff;
$header_font_color_hover: #B2D963;

body {
  padding-top: 70px; /* 60px to make the container make room for the navigation bar */
}

.navbar-inverse{
	background-color: $header_bgcolor !important;
	background-image: -moz-linear-gradient(top, $header_bgcolor, $header_gradient ) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($header_bgcolor), to($header_gradient)) !important;
	background-image: -webkit-linear-gradient(top, $header_bgcolor, $header_gradient) !important;
	background-image: -o-linear-gradient(top, $header_bgcolor, $header_gradient) !important;
	background-image: linear-gradient(to bottom, $header_bgcolor, $header_gradient) !important;
	background-repeat: repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
	border-color: $header_gradient !important;

	.navbar-inner {
		@extend	.navbar-inverse;

		.brand{
			color: $header_font_color !important;
			margin-left: 222px !important;

			&:hover{
				color:$header_font_color_hover !important;
			}
			.brand-title{
				font-weight:900;
			}
			.caption-title{
				font-size: 14px !important;
				font-weight:500;
			}
			.header-logo{
				border:none;
				width:25px;
				height:31px;
				margin-top:-8px;
			}
		}
	}

	.nav{
		li{
			background-color: transparent !important;
			a{
				color: $header_font_color !important;	
				padding-top: 13px !important;
				-webkit-box-shadow: none !important;
				-moz-box-shadow: none !important;
				box-shadow: none !important;
				background-color: transparent !important;

				&:active, &:hover, &:focus{
					color: $header_font_color;

				}
				&:hover{
					color: $header_font_color_hover !important;
				} 
			}
		}

		li.active {
			a{
				color: $header_font_color_hover !important;
			}
		}
	}

}




