<% layout('layouts/default') -%>
<p>Sign in to Use the System.</p>

      <div
      <form>
        <div class="control-group">
        <div class="btn-danger btn-large" id="loginError">Warning: Username  and password do not match.</div>
        <input type="text" id="inputEmail" placeholder="Email" class="input-xlarge" ><br />
        <input type="password" id="inputPassword" placeholder="Password"  class="input-xlarge"><br />
        <a href="/forgot-password"><button class="btn btn-primary btn-large">Forgot Password</button></a>
        <button type="submit" class="btn btn-success btn-large">Sign in</button>
        </div>
      </form>

      <div class="signup">
          <h3><a href="/signup">Create an Account</a></h3><a href="/help">Need Help?</a>
      </div>