<% include layouts/header %>

    <form name="loginForm" id="loginForm" action="/login" method="post">
        <div class="control-group">
            <% if (message){ %>
                <p class="text-error error-message" id="loginError">
                  <%= message %>
                </p>
                <% } else { %>
                  <p>Please login to continue.</p>
                <% } %>

                    <input type="text" id="inputEmail" name="inputEmail" placeholder="Email" class="input-xlarge signup-input">

                    <br />

                    <input type="password" id="inputPassword" name="inputPassword" placeholder="Password" class="input-xlarge signup-input">

                    <br />

                    <a href="/forgot-password" class="btn btn-primary btn-large">Forgot Password</a>
                    <button type="submit" class="btn btn-success btn-large">Sign In</button>
        </div>
    </form>
    <div class="signup">
        <h3><a href="/signup">Create an Account</a>
        </h3><a href="/help">Need Help?</a>
    </div>

    <% include layouts/footer %>