<% layout('../layouts/default') -%>
<p>Enter Email below to Reset Password.</p>

      <form name="forgotPassword" id="forgotPassword" action="/forgot-password" method="post">
        <div class="control-group">
        <div class="btn-warning btn-large error-message" id="loginError">Instructions on how to reset your password will be sent to your email.</div>
        <input type="text" id="inputEmail" placeholder="Email" class="input-xlarge signup-input" ><br />
        <button type="submit" class="btn btn-success btn-large">Reset</button>
        </div>
      </form>

      <div class="signup">
          <h3><a href="/signup">Create an Account</a></h3><a href="/help">Need Help?</a>
      </div>