<% layout('../layouts/default') -%>
<p>Enter Email below to Reset Password.</p>

      <div
      <form>
        <div class="control-group">
        <input type="text" id="inputEmail" placeholder="Email" class="input-xlarge signup-input" ><br />
        <button type="submit" class="btn btn-success btn-large">Reset</button>
        </div>
      </form>

      <div class="signup">
          <h3><a href="/signup">Create an Account</a></h3><a href="/help">Need Help?</a>
      </div>