<% layout('../layouts/default') -%>
<p>Help Page: Everything you need to know about the System.</p>

        <div class="help-text">
        <hr />
        <p class="text-error"><strong>About MeRoRS:</strong></p><p> Meeting Room Reservation System is designed to handle recording and tracking of meeting room reservations.</p>
        <p class="text-error"><strong>Who Can Use the System:</strong></p><p>Users with official Global Zeal, Inc. email can signup for an account. Registered users will be able to access the system after approval and activation of corresponding account by the Admin.</p>
        </div>

      <div class="signup">
          <h3><a href="/">Login to Access the System</a></h3><a href="/signup">Create an Account</a>
      </div>